body{
    max-width: 1000px;
    max-height: 400px;
    overflow: hidden;
    background-color: black;
}
.gameBoard{
      width: 800px;
      height: 500px;
      margin: 0px auto;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-color: white;
      position: relative;
      overflow: hidden;
  }
.modal{
    position: fixed;
    top: 3%;
    height: auto;
    z-index: 99;
}
.ApiBody{
background-image: url('https://images.unsplash.com/photo-1537210249814-b9a10a161ae4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80');
background-size: cover;
width: 100vw;
height: 90vh;
overflow: scroll;
}
.searchBar{
    position: fixed;
    top:3%;
    left: 5%;
    background-color: rgba(19, 116, 201, 0.217);
    padding: 10px;
    border-radius: 20px;
    display: flex
}
.submitApi{
    height: 36px;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(227, 232, 236);
    margin-left:-10%;
    width: 200px;
}
.grid{ 
  width: 100vw;
  padding: 5% 10%;
  display: flex;
  margin-top: 5%;
  overflow-x: scroll;
}
.character{
    height: 50%;
    width: initial;
    /* display: -ms-inline-grid; */
   
    transform: translate(50%, 500px);
}
#character{
    height: 50vh;
    width: initial;
    z-index: 4;
    /* display: -ms-inline-grid; */
    /* transform: translate(550px, 167.333px); */
   
}

#iconBtn{
    background-color: transparent;
    border-style: hidden;
}



.Avatar{
    height: 20vh;
}
.react-draggable{
    background: none;
    border-style: none;
    box-sizing: content-box;
    transform: translate(50%, 30%);
}
.react-draggable:hover{
    border-style: groove;
}


  .otherUser{
      z-index: 3;
      position: absolute;
      top: 0px;
  }

  /* ---------------------------------------------- */
  /* ----------------------------login */
  .loginsubmit{
      width: 80%;
      font-size: 12vh;
      font-family: bar;
      height: 15vh;
      margin: 3%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: bar;
    text-align: center;
    
    max-height: 80vh;
    width: 45vw;
    border-style: ridge;
    border-width: 5px;
    border-color: rgb(4, 39, 110);
    border-radius: 8px;
    position: relative;
    left: 27%;
    margin-top: 0;
  }
  h3{
      font-family: bar;
      color: red;
      width: 100%;
      text-align: center;
      font-size: 15vh;
      margin-bottom: 5vh;
      margin-top: 0vh;
  }
  .sName{
      font-size: 10vh;
      color: rgb(208, 36, 36);
      text-shadow: 1px 1px black;
  }
  .screenName{
      background-color: black;
      color:white;
      width:80%;
      margin: 0;
      font-family: bar;
      font-size: 10vh;
      border-color: rgb(22, 22, 86);
  }
  .card-image{
      background-color: rgba(82, 82, 251, 0.449);
  }
  /* ----------------------------- */
  /* ----------------------input */
  .form {
      border: rgb(26, 16, 84) solid 2px ;
    display: flex;
    position: fixed;
    bottom: 0%;
    left: 0;
    width: 100vw;
    height: 55px;
    margin: 0px auto;
    z-index: 9; 
    background-color: grey;
  }
  
  .input {
    border: 5px solid black;
    padding: 3px;
    width: 80vw;
    font-size: 15px;
    height: 40px;
  }
  
  input:hover{
    border: 5px solid blue;
  }
  
  .sendButton,.submitApi {
   
    width: 200px;
    border-radius: 0 15px 15px 0;
    
    margin: 0;
  }
  button,input{
    height: 55px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(6, 26, 59);
    line-height: 90%;
    padding: 0px 10px;
    color: white;
     text-transform: uppercase;
    text-decoration: none;
    margin: 0 15px;
  }
  button:hover{
    border: 3px solid rgb(15, 194, 214);
  }
  strong{
    font-size: 20px;
    font-weight: 900;
  }

  @font-face {
    font-family: bar;
    src: url(./lib/TheWildBreathOfZelda-15Lv.ttf);
  }
  
  




