.messageBox {
  background: #260b7f;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  max-width: 80%;
  vertical-align: middle;
}

.messageText {
  width: auto;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}


.messageContainer {
  
  padding: 0 5%;
  margin-top: 3px;
}
.messages {
  display: flex;
  flex-wrap: wrap;
}

.sentText {
  align-items: center;
  font-family: Helvetica;
  color: #f1eded;
  letter-spacing: 0.3px;
  padding: 10px;
  background-color: rgb(26, 89, 165);
  border-radius: 20px;
}




