.form {
  border: 3px solid #2f23237d;
  display: flex;
  position: fixed;
  bottom: 3%;
  left: 0;
  width: 100vw;
  height: 40px;
  margin: 0px auto;
  z-index: 9; 
}

.input {
  border: 5px solid black;
  padding: 3px;
  width: 80vw;
  font-size: 15px;
  height: 40px;
}

input:hover{
  border: 5px solid blue;
}

.sendButton,.submitApi {
 
  width: 200px;
  border-radius: 0 15px 15px 0;
  
  margin: 0;
}
button,input{
  height: 55px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgb(6, 26, 59);
  line-height: 90%;
  padding: 0px 10px;
  color: white;
   text-transform: uppercase;
  text-decoration: none;
  margin: 0 15px;
}
button:hover{
  border: 3px solid rgb(15, 194, 214);
}
strong{
  font-size: 20px;
  font-weight: 900;
}